body {
    background: #DEDEDE;
}



/* Shared Header*/
header.navbar {
    background: #936E60;
    border-radius: 0;
    z-index: 10;
}
header.navbar a {
    color: white;
}
header.navbar a:hover {
    color: black;
}
header.navbar .navbar-header {
    float: left;
}
header.navbar .navbar-right {
    float: right !important;
    margin: 0 -15px 0 0;
}
header.navbar .navbar-nav>li {
    float: left;
}
header.navbar .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}




/* Upload/Index Page */
.uploadCentering {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}
.uploadWrapper {
    text-align: center;
}
.progressWrapper {
    display: none;
    margin-top: 20px;
}
.uploadWrapper .fileinput-button {
    color: #666;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-size: 22px;
}
.uploadWrapper .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}
.uploadedFiles {
    display: flex;
    justify-content: center;
}
.fileUploadListItem {
    margin: 0 10px 20px 10px;
}






/* Image Listing Page */
.imageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imageList:after {
  content: "";
  flex: auto;
}
.imageListItem {
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
}
.imageLink {
    border: 1px solid #999;
    display: inline-block;
    padding: 3px;
    border-radius: 2px;
}
.imageLink:hover {
    border: 1px solid black;
}
.imageBlock {
    height: 120px;
    width: 120px;
}
@media screen and (min-width: 370px) {
    .imageBlock {
        height: 100px;
        width: 100px;
    }
    .imageListItem {
        margin-bottom: 5px;
        width: 33.3333333%;
    }
}
@media screen and (min-width: 425px) {
    .imageBlock {
        height: 115px;
        width: 115px;
    }
    .imageListItem {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 500px) {
    .imageBlock {
        height: 100px;
        width: 100px;
    }
    .imageListItem {
        margin-bottom: 5px;
        width: 25%;
    }
}

@media screen and (min-width: 600px) {
    .imageBlock {
        height: 120px;
        width: 120px;
    }
    .imageListItem {
        margin-bottom: 10px;
        width: 25%;
    }
}
@media screen and (min-width: 768px) {
    .imageListItem {
        width: 20%;
    }
}
@media screen and (min-width: 992px) {
    .imageListItem {
        width: 16.6666666%;
    }
}

@media screen and (min-width: 1200px) {
    .imageListItem {
        width: 12.5%;
    }
}





/* Single Image Page */
.image {
    display: block;
}
.imageSingle img {
    max-width: 640px;
    width: 100%;
}
.imageLinks {
    background: #eee;
    margin-top: 20px;
    padding: 20px;
}
.imageType {
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}
.imageDirectLink {
    word-break: break-all;
    margin-bottom: 10px;
}
.imageEmbed {
    word-break: break-all;
    margin-bottom: 20px;
}

.imageDirectLink span, .imageEmbed span {
    background: gray;
    font-size: 12px;
    color: white;
    padding: 5px;
}

.imageDirectLink span a {
    color: white;
}

.imageDirectLink span a:hover {
    color: white;
}

.imageError {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .image {
        display: flex;
    }
    .imageSingle {
        background: #eee;
    }
    .imageLinks {
        margin: 0;
    }
}
